@import "global/common";
@import "global/utilities";
@import "global/header";
@import "global/health-section";
@import "global/font.scss";
@import "global/tab-section";
@import "global/recent";
@import "global/mobile-menu.scss";
@import "global/find-section.scss";
@import "global/treament-section";
@import "global/slick-slide";
@import "global/section-choose";
@import "global/section-partner";
@import "global/section-promise";
@import "global/accordion";
@import "global/dropdown";
@import "global/radiobtn";
@import "global/modal";
@import "global/footer";
@import "global/main";



.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 114.3%;
    color: #282832;
    max-width: 364px;
}

.menu--active .menu {
    width: 80%;
}








  
  
  










  
  



  
