@font-face {
    font-family:AR;
    src: url('../font/Aeonik-Regular.otf');
}

@font-face {
    font-family:AB;
    src: url('../font/Aeonik-Bold.otf');
}

@font-face {
    font-family:sb;
    src: url('../font/simula_Book.otf');
}



.AB{
    font-family:AB;
}

.sb{
font-family:sb;
}
