// $fontPath: "https://cdn.eveadam.co.uk/assets/home-page/fonts"; 
// $ImgPath : "https://cdn.eveadam.co.uk/assets/home-page/images";

$fontPath: "../fonts"; 
$ImgPath : "../images";
// background-image: url('#{$ImgPath}/brand-logo.png');


$-primary: #282832;
$-secondary: #29E4FF;
$-accent: #FFFFFF;
$-saffron: #FF734D;
$-orange: #FFA178;
$-stoneGray: #C1B6A8;
$-green: #00B67A;
$--color-disable: #E2E7EC;
$--color-danger: #E03F48;
$-turquoise-50: #96F0FF;
// $-text: #282832;
$-secondary-50: #96F0FF; //used
$-secondary-80: #79EBFF; //used
// $-secondary-30: #C0F6FF;
// $-secondary-10: #EAFCFF;
 $-orange-60: #FFC7AE; 
// $-orange-20: #FFECE4;
$-stoneGray-45: #E2DED9; //used
$-stoneGray-20: #F3F2F0; //used
// $-primary-60, $-charcoal-60: #7E7E84;
// $-primary-20, $-charcoal-20: #D4D4D6;

// $-warning: #E3AA3C;
// $-success: #4CBD7A;
$-warning: #D2842E;
$-success: #51C38D;
$-danger: #EC4A1D;
$-info: #46D1E6;
